html,
body {
  height: 100%;
}

body {
  background-color: rgb(198, 228, 255);
  display: flex;
  flex-direction: column;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

footer {
  flex-shrink: 0;
}

h1 {
  text-shadow: 2px 2px 5px;
}

.headerColor {
  background-color: #a9ff2f !important;
}

.content {
  flex: 1 0 auto;
}

.socialLink {
  margin-right: 15px;
}

.imageLink {
  height: 50px;
}

.area {
  margin-bottom: 15px !important;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
}

.cardBtns {
  text-align: center;
}

#bioImg {
  margin-top: 15px;
}

#bio,
#portfolio {
  background-color: white;
  padding: 5px 0 5px 0;
  margin-bottom: 0px !important;
  border-top-left-radius: 5px !important;
  border-top-right-radius: 5px !important;
}
