body {
    background-color: rgb(190, 190, 190);
}

.socialLink {
    margin-right: 15px;
}

.imageLink {
    height: 50px;

}

.area {
    margin-bottom: 15px;
}

#bioImg {
    margin-top: 15px;
}

#bio,
#portfolio {
    background-color: white;
    margin-bottom: 0px !important;
}


